.product-list {
  list-style-type: none;
  margin: 0;
  padding: 5px 0;
  width: 100%;
  max-width: 940px;
  box-sizing: border-box;
  display: flex;
  gap: 20px;
  flex-wrap: nowrap;
  overflow-x: scroll;
}

.product-list::-webkit-scrollbar {
  height: 5px;
  margin-top: 10px;
}

.product-list::-webkit-scrollbar-track {
  background: #ffffff;
}

.product-list::-webkit-scrollbar-thumb {
  background: #27ae60;
  border-radius: 8px;
}

@media screen and (min-width: 576px) {
  .product-list {
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
  }
}
