.main__container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 15px 16px;
  display: grid;
  gap: 20px;
  grid-template-columns: 3fr 0.5fr;
  justify-content: center;
}

@media screen and (max-width: 720px) {
  .main__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
